{% extends "html_frame.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="container">
    <hr class="my-4">
    <div class="row">
      <div class="col-4 list-group">
        {% for cata in categories %}
        <a href="{{url_for("category_page", category_name=cata.name)}}" class="list-group-item list-group-item-action">{{ cata.name }}</a>
        {% endfor %}
      </div>
      <div class="col-8">
        <h1>{{ category.name }}</h1>
        <div class="list-group">
          {% for item in item_list %}
          <a href="{{url_for("item_page", category_name=category.name, item_name=item.name)}}" class="list-group-item list-group-item-action">{{ item.name }}</a>
          {% endfor %}
        </div>
        <a class="btn btn-primary" href="{{url_for("mainpage")}}">HOME</a>
        {% if "user_id" in session %}
          <a class="btn btn-primary" href="{{url_for("item_add_page")}}">Add items</a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
