<header>
  <div class="container">
    <div class="row" id="header_bar">
      <div class="col">
        {% if "user_id" not in session %}
          <h1>Welcome</h1>
        {% else %}
          <h1>Hello {{ session["username"]}}</h1>
        {% endif %}
      </div>
      <div class="col-2">
        {% if "user_id" in session %}
          <div class="g-signin2" data-longtitle="true" data-theme="dark"></div>
          <a class="btn btn-primary" href="{{url_for("gdisconnect")}}" onclick="signOut();">Sign out</a>
        {% else %}
          <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-theme="dark"></div>
        {% endif %}
      </div>
    </div>
  </div>
</header>
