{% extends "html_frame.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="container">
    <hr class="my-4">
    <div class="row">
      <form action="{{url_for("item_edit_page", item_name=item.name)}}" method="POST">
        <div class="form-group">
          <label for="name">Name of item:</label>
          <input type="text" id="name" class="form-control" name="name" value="{{ item.name }}">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" class="form-control" name="description">{{ item.description }}</textarea>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input type="number" id="price" class="form-control" name="price" value="{{ item.price}}">
        </div>
        <div class="form-group">
          <label for="select1">Category</label>
          <select class="form-control" name="category">
            {% for cata in categories %}
              {% if cata.id == item.category_id %}
                <option selected="True">{{ cata.name }}</option>
              {% else %}
                <option>{{ cata.name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <a class="btn btn-primary" href="{{url_for("mainpage")}}">HOME</a>
      </form>
    </div>
  </div>
</main>
{% endblock %}
