{% extends "html_frame.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div class="container">
    <hr class="my-4">
    <div class="row">
      <div class="col-4 list-group">
        {% for cata in categories %}
        <a href="{{url_for("category_page", category_name=cata.name)}}" class="list-group-item list-group-item-action">{{ cata.name }}</a>
        {% endfor %}
      </div>
      {% if "user_id" in session %}
        <div class="col-8">
          <a class="btn btn-primary" href="{{url_for("item_add_page")}}">Add items</a>
        </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}
